.bbb{
    border: 2px solid turquoise;
    background-color: aqua;
    width: 250px;height: 200px;
    padding: 15px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
    top: -200px;left: 400px;
    text-align: center;
}
.bb{
    border: 2px solid orange;
    background-color: orange;
    width: 250px;height: 400px;
    padding: 10px;
    position: relative;
    top: 200px;
    left: 100px;
    text-align: center;
    color: white;
}
body{
    background-color: orange;
}
.bb1{
    margin-left: 200px;
    background-color: orange;
    color: white;
    border-radius: 30px;
}
input{
    width: 250px;
}
button{
    border-radius: 40px;
    background-color: white;
}